.chart_container {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  background-color: var(--primary-box-color);
  border-bottom: 2px solid var(--primary-blue-color);
  border-radius: 5px;
  box-shadow: 5px 7px 5px var(--primary-shadow-color);
  width: 350px;
  animation: fadeinchart 0.7s ease-in-out;
  transition: box-shadow 200ms ease;
}

.chart_container:hover {
  box-shadow: 5px 7px 10px var(--primary-shadow-color);
}

@keyframes fadeinchart {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
