.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  width: 500px;
  padding: 1rem;
  margin-top: 3rem;
}

.chart_part {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 85%;
}

.status_part {
  /* height: 100%; */
  width: 85%;
}
