* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.footer {
  bottom: 0;
  background-color: var(--primary-box-color);
  color: var(--primary-text-color);
  width: 100%;
  padding: 2px 0;
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px var(--primary-shadow-color);
}

.credits,
.copyright {
  font-size: 12px;
  line-height: 14px;
  width: 210px;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

.team-info p {
  font-size: 12px;
  line-height: 14px;
  padding: 5px 0;
}

.team-info b {
  font-weight: 600;
}
