@import url("common.css");

.nav_header {
  position: absolute;
  background-color: var(--primary-top-nav-bgcolor);
  color: var(--primary-top-nav-tcolor);
  width: 100%;
  padding: 0px 0;
  box-shadow: 0px 0px 3px var(--secondary-border-color);
}

.nav_header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.menu .logo a {
  padding: 2px 5px;
  text-decoration: none;
  color: var(--primary-top-nav-tcolor);
  font-weight: 900;
  font-size: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 10px;
  padding: 2px 0;
}

.menu ul li a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--primary-top-nav-tcolor);
  border-radius: 5px;
  padding: 6px 15px;
  box-shadow: 0px 0px 0px var(--primary-background-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.menu ul li a:hover {
  background-color: var(--primary-top-nav-tcolor);
  color: var(--primary-top-nav-bgcolor);
  box-shadow: 0px 0px 5px var(--primary-background-color);
}

.menu ul li .dark-mode-toggle {
  text-align: center;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-top-nav-tcolor);
  box-shadow: 0px 0px 0px var(--primary-background-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.menu ul li .dark-mode-toggle:hover {
  background-color: var(--primary-top-nav-tcolor);
  color: var(--primary-top-nav-bgcolor);
  box-shadow: 0px 0px 5px var(--primary-background-color);
}
