/* @import url("common.css"); */

.nheader {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_header {
  background-color: var(--primary-box-color);
  color: var(--primary-text-color);
  width: fit-content;
  padding: 0.6rem 4rem;
  border-radius: 5rem;
  box-shadow: 0px 0px 10px var(--primary-shadow-color);
}

.nav_header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25rem;
  padding: 0 10px;
}

.menu .logo a {
  padding: 2px 5px;
  text-decoration: none;
  color: var(--primary-top-nav-tcolor);
  font-weight: 900;
  font-size: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 10px;
  padding: 2px 0;
}

.menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--primary-top-nav-tcolor);
  border-radius: 5px;
  min-width: 5rem;
  padding: 6px 15px;
  box-shadow: 0px 0px 0px var(--primary-background-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.menu ul li a:hover {
  color: var(--secondary-blue-color);
}

#signup-btn {
  background-color: var(--primary-blue-color);
  color: var(--primary-top-nav-tcolor);
  box-shadow: 0px 0px 4px var(--primary-blue-color);
}

#signup-btn:hover {
  background-color: var(--primary-blue-color);
  box-shadow: 0px 0px 10px var(--primary-blue-color);
}

.menu ul li .dark-mode-toggle {
  text-align: center;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-top-nav-tcolor);
  box-shadow: 0px 0px 0px var(--primary-background-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.menu ul li .dark-mode-toggle:hover {
  color: var(--secondary-blue-color);
}
