@import url("common.css");

::-webkit-scrollbar {
  width: 0;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-weight: 300;
  font-size: 48;
  margin: 30px 0;
}

.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  width: 400px;
  border-radius: 0.6rem;
  background-color: var(--primary-box-color);
  box-shadow: 5px 7px 5px var(--primary-shadow-color);
  animation: fadein 0.6s ease-in-out;
}

.signup {
  font-size: 14px;
  font-weight: 300;

  margin: 10px 0;
}

a {
  color: var(--primary-text-color);
}

.input__box {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 310px;
  margin-bottom: 25px;
}

.input__box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 300;
  color: var(--primary-text-color);
  border-bottom: 2px solid var(--secondary-border-color);
  &:focus {
    outline: none;
    border-color: var(--primary-text-color);
  }
}

.input__box label {
  font-size: 1em;
  margin-bottom: 10px;
}

.input__box .icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 15px;
  margin: 7px;
  color: var(--secondary-text-color);
}

button {
  width: 100%;
  min-height: 30px;
  margin: 30px 0 50px 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--primary-blue-color);
  box-shadow: 1px 1px 5px var(--primary-blue-color);
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  border-radius: 0.3rem;
}

/* button:hover {
  box-shadow: 0px 0px 8px var(--primary-blue-color);
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--primary-text-color);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px var(--primary-box-color);
}
