@import url("common.css");

.sidebar {
  width: 3.5rem;
  height: 100%;
  position: fixed;
  margin-top: 2.35rem;
  background-color: var(--primary-background-color);
  transition: width 600ms ease;
  z-index: 1;
}

.sidebar:hover {
  width: 10rem;
}

.sidebar-nav {
  border-radius: 5px;
  list-style: none;
  padding: 0;
  padding-top: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--secondary-border-color);
  box-shadow: 0 0 0.1rem var(--secondary-border-color);
}

.sidebar-nav:hover {
  box-shadow: 0 0 0.8rem var(--secondary-border-color);
  transition: 0.2s;
}

.nav-item:last-child {
  position: absolute;
  bottom: 7rem;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  text-decoration: none;
  color: var(--primary-text-color);
  filter: var(--primary-text-color) opacity(0.7);
  transition: 600ms ease;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--secondary-border-color);
  color: var(--primary-text-color);
}

.nav-link i {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.link-text {
  opacity: 0;
  font-size: 0px;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

.sidebar:hover .link-text {
  opacity: 1;
  font-size: 1rem;
}

.nav-item .nav-link form {
  width: 0;
}

.nav-item {
  position: relative;
  width: 100%;
}

.nav-sub {
  width: 0rem;
  list-style: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: var(--primary-background-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px var(--primary-text-color);
  transition: width 300ms ease;
}

#settings:hover .nav-sub {
  width: 10rem;
}

.nav-sub-item {
  position: relative;
  width: 100%;
}

.nav-sub-link {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--primary-text-color);
  text-decoration: none;
  filter: var(--primary-text-color) opacity(0.7);
  transition: 600ms ease;
}

.nav-sub-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--secondary-border-color);
  color: var(--primary-text-color);
}

.nav-sub-link i {
  width: auto;
  opacity: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

.sub-link-text {
  opacity: 0;
  font-size: 0;
  transition: opacity 0.4s ease, font-size 0.4s ease;
}

#settings:hover .sub-link-text {
  opacity: 1;
  font-size: 1rem;
}

#settings:hover .nav-sub-link i {
  opacity: 1;
}
