@import url("common.css");

::-webkit-scrollbar {
  width: 0;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105vh;
}

h2 {
  font-weight: 300;
  font-size: 48;
  margin: 30px 0;
}

.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  width: 400px;
  border-radius: 0.6rem;
  background-color: var(--primary-background-color);
  box-shadow: 0px 0px 10px var(--secondary-border-color);
  animation: fadein 0.6s ease-in-out;
}

.signup {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
}

a {
  color: var(--primary-text-color);
}

.input__box {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 310px;
  margin-bottom: 25px;
}

.input__box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 300;
  color: var(--primary-text-color);
  border-bottom: 2px solid var(--secondary-border-color);
}

.input__box label {
  font-size: 1em;
  margin-bottom: 10px;
}

.input__box .icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 15px;
}

.input__image {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 5px 0;
  border: 2px dashed var(--secondary-border-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
}

.input__image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: none;
}

.input__image i {
  font-size: 48px;
  color: var(--primary-text-color);
}

.input__image label {
  position: absolute;
  bottom: 10px;
  font-size: 1.2rem;
}

.input__image input[type="file"] {
  display: none;
}

button {
  width: 100%;
  min-height: 30px;
  margin: 30px 0 50px 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  box-shadow: 0px 0px 0px var(--primary-text-color);
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  border-radius: 0.3rem;
}

button:hover {
  box-shadow: 0px 0px 8px var(--primary-text-color);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
