.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2.5rem;
  margin-left: 3.5rem;
}

.dashboard_container {
  width: 950px;
  height: 600px;
  margin-top: 2.5rem;
  padding: 1rem;
  overflow: scroll;
  background-color: var(--primary-box-color);
  box-shadow: 5px 7px 5px var(--primary-shadow-color);
  border-radius: 1.5rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.table__header {
  width: 100%;
  height: 10%;
  padding: 0.8rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 30%;
  height: 100%;
  background-color: var(--secondary-border-color);
  padding: 0 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 40%;
  box-shadow: 0 0.1rem 0.4rem var(--secondary-border-color);
  border-bottom: 3px solid var(--primary-blue-color);
}

.table__header .input-group i {
  color: var(--primary-text-color);
  font-size: 0.7rem;
}

.table__header .input-group input {
  font-size: 0.85rem;
  color: var(--primary-background-color);
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table-body {
  width: 95%;
  max-height: 85%;
  margin: 0.8rem auto;
  background-color: var(--primary-box-color);
  border: 1px solid var(--secondary-border-color);
  border-radius: 0.6rem;
  overflow: auto;
  transition: 0.2s ease-in-out;
}

.table-body:hover {
  border-bottom: 3px solid var(--primary-blue-color);
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

.employees {
  text-align: left;
}

table {
  width: 100%;
}

.table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--primary-blue-color);
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--primary-text-color);
  visibility: visible;
}

table,
th,
td {
  text-align: center;
  border-collapse: collapse;
  padding: 1rem;
}

thead th {
  padding: 0.6rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  font-weight: 500;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: var(--secondary-border-color);
}

.status {
  padding: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 0.85rem;
}

.approved {
  opacity: 0.6;
  border: 2px solid var(--secondary-green-color);
  color: var(--secondary-green-color);
}

.pending {
  opacity: 0.6;
  border: 2px solid var(--secondary-red-color);
  color: var(--secondary-red-color);
}
.action-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.8rem; */
  width: auto;
}

.action-btn {
  width: 5rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

button {
  width: 100%;
  /* min-height: 30px; */
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
}

.approve-btn {
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  box-shadow: 0px 0px 0px var(--primary-blue-color);
}

.approve-btn:hover {
  box-shadow: 0px 0px 8px var(--primary-blue-color);
}

.delete-btn {
  color: var(--primary-white-color);
  background-color: var(--primary-red-color);
  box-shadow: 0px 0px 0px var(--primary-red-color);
}

.delete-btn:hover {
  box-shadow: 0px 0px 8px var(--primary-red-color);
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  /* transform: translateX(100%); */
}

tbody tr:hover {
  background-color: var(--secondary-tbody-color);
}

tbody tr.hide td,
tbody tr.hide td p {
  margin: 0;
  padding: 0;
  font: 0 poppins;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td .status {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td button {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  margin: 0;
  padding: 0;
  font: 0 / 0 poppins;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}
