:root {
  --primary-background-color: #171717;

  --primary-top-nav-bgcolor: #262626;
  --primary-top-nav-tcolor: #f2ecff;

  --primary-text-color: #f2ecff;

  --secondary-border-color: #262626;
  --secondary-thead-color: #f2ecff;
  --secondary-tbody-color: #313131;

  --primary-red-color: #d2524b;
  --primary-blue-color: #4a43d0;
  --primary-white-color: #f2ecff;

  --secondary-status-yellow-color: #e77383;
  --secondary-status-yellow-text-color: #622d34;

  --secondary-status-blue-color: #3cd787;
  --secondary-status-blue-text-color: #1b4931;
}
